services:

  # Service 1: Redis
  redis:
    image: redis:7-alpine  # Using official, lightweight Redis image
    ports:
      - "6379:6379"  # Expose port so we can check it from outside
    volumes:
      - redis_data:/data  # Persist Redis data between container restarts
    command: redis-server --appendonly yes  # Enable AOF persistence for better durability
    networks:
      - my_network
    # Додаємо перевірку: чи живий Redis насправді?
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  # Service 2: Our FastAPI API
  api:
    build: .  # Build image from Dockerfile in this folder
    command: uvicorn main:app --host 0.0.0.0 --port 8000 # Command to run
    ports:
      - "8000:8000"  # Expose API port
    environment:
      - REDIS_HOST=redis  # Pass service name 'redis' to our code
    depends_on:
      redis:
        condition: service_healthy  # Start API only AFTER Redis is healthy
    networks:
      - my_network

  # Service 3: Our Huey Worker
  worker:
    build: .  # Using the SAME image as for API
    command: huey_consumer tasks.huey --workers 2 # Command to run WORKER
    environment:
      - REDIS_HOST=redis  # Worker also needs access to Redis
    depends_on:
      - redis  # Start worker only AFTER Redis starts
    networks:
      - my_network

# Define our internal network
networks:
  my_network:
    driver: bridge

# Define volumes for data persistence
volumes:
  redis_data:
    driver: local